.header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0 5px;
}

.header-logo{
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.login-btn {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.login-btn::before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.login-btn:hover::before {
    width: 100%;
    left: 0;
    background-color: black;
}